# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN
TELEGRAM_BOT_USERNAME=AiClaudeChallengeBot

# Claude API Configuration
CLAUDE_API_KEY=CLAUDE_API_KEY
CLAUDE_MODEL=claude-haiku-4-5-20251001
